.topWrapper{
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .content{
    flex-basis: 70%;
    padding: 50px;
    background: #508178;
    box-shadow: -7px 20px 16px 0px rgba(29, 83, 100, 0.25);
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    button{
      align-self: flex-start;
      margin-top: 40px;
    }
    p{
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
    }
    h1{
      font-size: 48px;
    }
  }
  .image{
    border-radius: 10px;
    overflow: hidden;
  }
}
@media(max-width:1281px){
  .topWrapper{
    .content{
      h1{
        font-size: 36px;
      }
      p{
        font-size: 14px;
      }
    }
  }
}
@media(max-width: 1075px){
  .topWrapper{
    flex-direction: column-reverse;
    .content{
      max-width: 700px;
      margin-top: -100px;
      z-index: 999;
      border-radius: 10px;
    }
  }
}
@media(max-width:425px){
  .topWrapper{
    margin: 50px 0;
    .content{
      padding: 30px;
      gap: 20px;
    }
  }
}