.footer{
  background-image: url(../../../public/footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer__inner{
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
@media(max-width: 600px){
  .footer__inner{
    gap: 50px;
    padding: 40px 0;
  }
}
